.graph {
  width: 1000px;
  height: 800px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

path,
line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
