.graph {
  width: 700px;
  height: 750px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

path,
line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.actual-line {
  stroke: blue;
}